<div class="col-md-8 offset-md-2 col-sm-12">
  <h1 class="display-4 my-3">Todo items</h1>
  <button class="btn btn-primary my-2" (click)="onAdd()">Create New Task</button>
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <div *ngFor="let todoItem of todoItems" class="list-group-item list-group-item-action">
          <div class="item-header"
              [class.text-success]="todoItem.done"
              [class.text-warning]="!todoItem.done">
            <a (click)="todoItem.isCollapsed = !todoItem.isCollapsed">
              <h5 [class.line-through]="todoItem.done">{{ todoItem.name }}</h5>
            </a>
          </div>
          <div class="tab-pane">
            <div *ngIf="todoItem.isCollapsed">
              <pre>{{ todoItem.description }}</pre>
              <div class="d-flex flex-row-reverse">
                <button *ngIf="!todoItem.done" class="btn btn-success ml-2" (click)="onChangeStatus(todoItem)">Complete</button>
                <button *ngIf="todoItem.done" class="btn btn-warning ml-2" (click)="onChangeStatus(todoItem)">Reopen</button>
                <button class="btn btn-primary ml-2" (click)="onEdit(todoItem.id)">Edit</button>
                <button class="btn btn-danger ml-2" (click)="onDelete(todoItem.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="todoItems.length === 0" class="alert alert-info">
    There is no item to show.
  </div>
</div>
